<%- include("header") -%>
<h2>About</h2>
<p>This web application helps us to improve our productivity and maximize our day, by creating a list of things todo according to its priority.</p>
<%- include("footer") -%>